################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp5/FileContentIndex/1fa5c03a-9330-4e1d-921b-5043488f33d3.vsidx
